body{

font-family:Arial;
background:#0b0b0b;
color:white;
margin:0;

}

header{

background:#111;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

}

h1{

color:#ff8c00;

}

.social i{

font-size:25px;
margin-left:15px;
color:white;

}

.menu{

padding:20px;

}

.produto{

background:#1c1c1c;
margin:10px 0;
padding:15px;
border-radius:10px;
display:flex;
justify-content:space-between;

}

button{

background:#ff8c00;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;

}

.cart{

background:#151515;
padding:20px;

}

iframe{

width:100%;
height:300px;
border:none;
border-radius:10px;

}
